* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}

p {
  font-family: "Questrial", sans-serif;
}

.btngenero {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: #f9a138;
  color: #fff;
  box-shadow: 0px 3px 2px 1px #8e3209;
}

.btngenero::hover {
  background-color: #8e3209;
  color: #fff;
}

.iconbtn {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  background-color: #ee7332;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.fixed {
  /* position: fixed;
  z-index: 5;
  width: 100%;
  top: 0; */
}

.modal2 {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none !important;
  color: none !important;
}

.link60 {
  text-decoration: none !important;
}

.link60 a {
  color: #474793 !important;
}
.contenedorBotonera {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contenedorBotonera p {
  margin: 0;
  padding: 0;
}

.loadingspin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
